/* header.css - arquivo limpo (estilos removidos) */

.header{
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 100px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    background-color: #ffffff;
}

.logo img{
    height: 48px;
    width: 150px;
}

.nav-center ul{
    display: flex;
    gap: 2.5rem;
}

.nav-center a, .nav-right a{
    font-size: 1rem;
    color: #333333;
}

.nav-center a:hover, .nav-right a:hover{
    color: #7c3aed;
}

.nav-right ul{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-right img{
    height: 20px;
}

.nav-right a:hover img{
    opacity: 0.7;
}