/* product-grid.css - arquivo limpo (estilos removidos) */

.card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.top1 /*highlight*/{
    grid-area: top1;
    background-image: url(../../images/products/card_imagem.jpg);
}

.top2 /*sneaker-roxo*/{
    grid-area: top2;
    background-image: url(../../images/products/roxo-verde-grid.jpg);
}

.midL /*model*/{
    grid-area: midL;
    background-image: url(../../images/products/modelo-feminino.jpg);
}

.midR /*sneaker-color*/{
    grid-area: midR;
    background-image: url(../../images/products/futurista-grid.jpg);
}

.bottomL /*sneaker-white*/{
    grid-area: bottomL;
    background-image: url(../../images/products/preto-branco-grid.jpg);
}

.bottomR /*sneaker-silver*/{
    grid-area: bottomR;
    background-image: url(../../images/products/moderno-grid.jpg);
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "top1 top1 top2 top2"
        "top1 top1 midL"
        "bottomL bottomL midL bottomR"; 
    gap: 30px;
}

.top1-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-title{
    color: #ededed;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-subtitle{
    color: #ededed;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-group{
    display: flex;
    gap: 10px;
}